footer{
   position: absolute !important;
    bottom: 0px !important;
}
.slider_img_content:hover{
    cursor: pointer;
    color: bisque;

}

.popup_of_disabled_click{
    background-color: rgb(90, 108, 109);
    width:400px;
    height: 50px;
    overflow:hidden;
    position:absolute;
    top:35px;
    right: 0px;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}
.popup_of_success_click{
    visibility:visible;
    animation-duration: 1s;
    animation-name: slide;
}
@keyframes slide {
    from {
        right:-400px;
    }
  
    to {
      right: 0px;
    }
}